* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {

  background-size: 100px;
  background-position: center;

}

body {
  font-family: 'montserall', sans-serif;
}

main {
  height: 3-200px;
  width: 300px;
}

.search-box {
  width: 100%;
  margin: 0 0 15px;
  padding: 25px;

}

.search-box .search-bar {

  display: block;
  width: 100%;
  padding: 15px;
  height: 20px;
  background-color: #83AFA6;
  appearance: none;
  opacity: 80;



  color: #313131;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);


}

.search-bar.search-box :focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.coinIcon {
  max-width: 60px;
  max-height: 60px;
  padding-left: 10px;


}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}