* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #041C32;
  background-size:100px;
  background-position: bottom;

}

body {
  font-family: 'montserall', sans-serif;
}

main {
  height: 200px;
  width: 200px;
}

.search-box {
  width: 100%;
  margin: 0 0 15px;
  padding: 25px;

}

.search-box .search-bar {

  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  appearance: none;
  opacity:100;
  

  color: #313131;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px 8px 8px 8px;


}

.search-bar.search-box :focus {
  background-color: rgba(255, 255, 255, 0.75);
}